/*
 * Banner styling
 */
#bannerImage {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* The image used */
  height: 100%;
  animation: fadeInBg 3.5s;
}

#bannerTitle {
  font-size: 48px;
  color: white;
}

.caption {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #fff;

  font-family: 'Sun Valley - Demo', sans-serif;
}

.caption h1 {
    font-size: 6em; 
  text-shadow: 7px 7px 3px rgba(0, 0, 0, 0.65);
}

.caption-title {
  background-color: rgba(47,79,79, 1);
  font-size: 48px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

#our-story-section {
  padding: 50px;
}