/* 
    Base Styling
*/

@font-face {
    /* Text */
    font-family: 'BaseFont';
    src: url('../fonts/base.ttf');
}


html,
body {
    /* Color */
    background-color: #f2f4f3;

    /* Display & Box Model */
    height: 100%;

    /* Text */
    font-size: 1em;
    font-family: 'BaseFont', sans-serif;
}

p {
    /* Text */
    font-family: 'Raleway';
    font-weight: 500;
}

.jumbotron p {
    font-size: 1em;
}

::-webkit-scrollbar {
    /* Display & Box Model */
    width: 8px;
}

::-webkit-scrollbar-track {
    /* Display & Box Model */
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    /* Display & Box Model */
    border-radius: 10px;
    background: rgba(125, 150, 100, 0.4);
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    /* Display & Box Model */
    background: rgba(125, 150, 100, 0.4);
}

.custom-btn {
    /* Display & Box Model */
    border-bottom: 3px solid #f26d7d;
    border-top: 3px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-radius: 0px;
    outline: none;
    padding: 8px;
    transition: 0.75s ease-in-out;

    /* Color */
    background-color: #fff;
    color: #f26d7d;

    /* Text */
    font-family: "BaseFont";
    font-size: 2em;
}

.custom-btn:hover,
.custom-btn:active,
.custom-btn:focus {
    /* Display & Box Model */
    background-color: #fff;
    border-top: 3px double #f26d7d;
    border-bottom: 3px double #f26d7d;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    transition: 0.75s ease-in-out;

    /* Color */
    color: #f26d7d;
}

#loading {
    /* Background & Color */
    background: url(../images/ss_logo.png) center no-repeat rgba(0, 0, 0, 0);

    animation: flipInY 2s;

    /* Positioning */
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;

    /* Display & Box Model */
    height: 100%;
    width: 100%;
}

#loading-container {

    background-color: #fff;

    /* Positioning */
    position: fixed;
    left: 0px;
    top: 0px;

    /* Display & Box Model */
    height: 100%;
    width: 100%;
}

footer {
    padding-bottom: 20px;
}