/* 
    Base Styling
*/

@font-face {
  font-family: 'BaseFont';
  src: url('../fonts/base.ttf'); 
}


html,
body {
    height: 100%;
    font-size: 1.1em;
    font-family: 'BaseFont', sans-serif;
}

p {
    font-family: 'Raleway';
    font-weight: 500;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(125, 150, 100, 0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(125, 150, 100, 0.4);
}