@keyframes fadeInTwo {
    from {
        opacity: 0;
    }

    to {
        opacity: .75;
    }
}

h1 {
    font-size: 60px;

    letter-spacing: -.05em;
}

h2 {
    font-size: 50px;

    letter-spacing: -.05em;
}

.jumbotron p {
    font-size: 1em;
}

#loading {
    /* Background & Color */
    background: url(../images/ss_logo.png) center no-repeat rgba(0, 0, 0, 0);

    animation: flipInY 2s;

    /* Positioning */
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;

    /* Display & Box Model */
    height: 100%;
    width: 100%;
}

#loading-container {

    background-color: #fff;

    /* Positioning */
    position: fixed;
    left: 0px;
    top: 0px;

    /* Display & Box Model */
    height: 100%;
    width: 100%;
}

.navbar-default {
    font-size: 2em;

    border: none;
    background-color: transparent;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .65);
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #f26d7d;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #f26d7d;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;

    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}


.carousel img {
    min-width: 100%;
}

.carousel-header {
    position: absolute;
    z-index: 5;
    top: 0;

    width: 100%;
    margin: 0 auto;
    padding: 20px;

    text-align: center;

    color: #fff;
    background-color: rgba(54, 47, 45, .8);
}

#first-body {
    position: relative;

    height: 100%;

    opacity: .9;
    background-color: #f4efe9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#sam {
    transition: .25s;
    animation: fadeInRight .75s ease-in;
}

#sam:hover {
    color: #80b1bc;
}

#sarah {
    transition: .25s;
    animation: fadeInLeft .75s ease-in;
}

#sarah:hover {
    color: #f26d7d;
}

.caption {
    font-family: 'BaseFont', sans-serif;

    position: absolute;
    top: 45%;
    left: 0;

    width: 100%;

    text-align: center;

    color: #fff;
}

.caption-title {
    font-size: 48px;

    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;

    color: #fff;
    background-color: rgba(47, 79, 79, 1);
}

.caption h1 {
    font-size: 3em;

    text-shadow: 7px 7px 3px rgba(0, 0, 0, .65);
}


.caption h2 {
    font-size: 1.5em;

    text-shadow: 7px 7px 3px rgba(0, 0, 0, .65);
}

#our-story-btn {
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;

    margin-right: auto;
    margin-left: auto;
}

.our-story-btn-svg {
    z-index: 1001;

    transition: .5s ease-in-out;
    transform: rotate(0deg);
}

.our-story-heading-text {
    font-size: 2em;

    padding: 10px;

    color: #fff;
    text-shadow: 7px 7px 3px rgba(0, 0, 0, .65);
}

#our-heading-text {
    transition: .75s ease-in-out;
}

.our-highlight-text {
    color: #80b1bc;
}

#story-heading-text {
    transition: .75s ease-in-out;
}

.story-highlight-text {
    color: #f26d7d;
}

.rotate-anim {
    transform: rotate(180deg);
}

#second-body {
    z-index: 999;

    margin: 0;
    padding: 0;

    text-align: center;

    background-color: #f4efe9;
    background-image: url('../images/leaves-repeat.jpg');
    background-size: cover;
}



#third-body {
    margin: 0;
    padding: 0;

    color: #fff;
    border-top: 10px solid #534741;
    border-bottom: 10px solid #534741;
    background-color: #f4efe9;
    background-image: url('../images/details_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.row-no-margin {
    margin: 0;
}

.details-left-holder {
    white-space: nowrap;
}

.details-left {
    position: relative;

    display: inline-block;
    float: left;
    overflow: hidden;

    min-width: 104%;
    min-height: 600px;

    transition: .25s;
    -webkit-transform: skew(-20deg) translateX(-130px);
    -moz-transform: skew(-20deg) translateX(-130px);
    -o-transform: skew(-20deg) translateX(-130px);

    box-shadow: 5px 5px 13px 0 rgba(0, 0, 0, .5);
}

.details-left::before {
    position: absolute;

    display: inline-block;

    width: 100%;

    content: '';
    -webkit-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    transform: skewX(20deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;

    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}

.details-left img {
    position: absolute;

    width: 105%;

    content: '';
    -webkit-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    transform: skewX(20deg);
    transform: translateX(-30px) translateY(-50px);
}

.details-left h1 {
    font-size: 80px;

    text-shadow: 5px 5px 13px rgba(0, 0, 0, .5);
}

.details-location {
    font-size: 90px;

    letter-spacing: -.05em;

    color: #c7b299;
    text-shadow: 5px 5px 13px rgba(0, 0, 0, .5);
}

.details-date {
    position: absolute;

    margin-top: 48px;
    margin-left: 40%;
    padding: 10px;

    -webkit-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    transform: skewX(20deg);

    color: #000;
    border: 7px solid #000;
    background-color: #fcf4e3;
}

.details-time {
    padding: 20px;
}

.details-subheading {
    font-size: 40px;
}

.details-icon {
    height: 80px;
}

#details-year {
    font-size: 150px;
}

#rsvp-button {
    font-size: 2em;

    width: auto;
    margin: 0 auto;
    margin: 30px;

    transition: .4s ease-in;

    color: #f26d7d;
    background-color: transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

#rsvp-button:hover {
    outline: none;
    text-shadow: 23px 2px 2px rgba(0, 0, 0, 0);
}

#rsvp-button:focus,
#rsvp-button:active {
    outline: none;
}

#details-section h2 {
    animation: fadeInUp 1.5s;
}

#details-section h1 {
    animation: fadeInDown .75s;
}

#details-section-divider {
    border-right: 7px ridge #000;
}

#fourth-body {
    margin: 0;

    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.carousel-indicators .active {
    background-color: #ed145b;
}

.carousel-indicators {
    bottom: 0 !important;
}

#rsvpModal {
    font-family: 'Raleway', sans-serif;
}

.carousel-caption p {
    font-size: 18px;
    font-weight: 600;
}

.carousel-caption {
    transition: background-color .5s ease;

    background-color: rgba(100, 100, 100, .0);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .85);
}

.carousel-caption:hover {
    background-color: rgba(100, 100, 100, .7);
}

#fifth-body {
    margin: 0;
    padding-right: 2%;
    padding-left: 2%;

    background-color: #fcf4e3;
}

.heading {
    margin-bottom: 50px;
}

#wedding-heading {
    color: #a67c52;
}

#groomsmen-heading {
    margin: 5px;

    color: #596359;
}

#bridesmaids-heading {
    margin: 5px;

    color: #4e535c;
}

.groomsmen-temp {
    width: 373px;
    height: 250px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;

    background-image: url('../images/groomsmen_brush.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bridesmaids-temp {
    width: 373px;
    height: 250px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;

    background-image: url('../images/bridesmaid_brush.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wedding-image-holder {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.wedding-party-image {
    position: absolute;
    z-index: 1;

    width: 220px;
    height: 220px;

    border: 2px solid black;
}

.wedding-party-token {
    width: 80px;
    height: 80px;
    margin: 0 auto;

    transition: border .25s ease, box-shadow .25s ease;

    border: 2px solid black;
}

.guy .wedding-party-token:hover {
    border: 2px solid #b7cdb8;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}

.girl .wedding-party-token:hover {
    border: 2px solid #d2dbec;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}

.current-guy {
    z-index: 3;
}

.current-girl {
    z-index: 3;
}

.huge {
    font-size: 38px;

    margin-top: 10px !important;
}

.panel>.girl-postcard-heading {
    color: #4e535c;
    border-bottom: 0;
    background-color: #d2deea;
}

.panel>.guy-postcard-heading {
    color: #596359;
    border-bottom-width: 0;
    background-color: #b3d0b4;
}

.guy-postcard {
    /* for reference background-color: #88A48B; */
    color: white;
    background-image: linear-gradient( rgba(145, 162, 146, .75), rgba(145, 162, 146, .75)), url('../images/post_card_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.girl-postcard {
    /* for reference background-color: #7C918C; */
    color: white;
    background-image: linear-gradient( rgba(129, 135, 145, .75), rgba(129, 135, 145, .75)), url('../images/post_card_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wedding-party-list {
    font-size: 14px;

    position: inline;

    float: left;
    overflow: hidden;

    width: 100%;
    margin: 0 auto;
    padding: 0;

    list-style-type: none;
}

.wedding-party-list li a {
    display: block;

    padding: 8px 0;

    text-align: center;
    text-decoration: none;

    color: white;
}

#list-guys {
    border-bottom: 10px solid #b7cdb8;
}

#list-girls {
    border-bottom: 10px solid #d2dbec;
}

.bridesmaids-section {
    background-image: url('../images/bridesmaid_brush.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.wedding-party-description {
    min-height: 160px;
    margin: 0 40px 0 40px;
}

#sixth-body {
    margin: 0;

    color: white;
    border-bottom: 4px solid #d9dada;
    background-color: #000;
    background-image: linear-gradient( rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url('../images/registry_background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.registryRow {
    height: 170px;
    margin-top: 80px;
    margin-bottom: 100px;
    padding-right: 35px;
    padding-left: 35px;

    background-color: #ae0d46;
}

#registryOptionRow {
    top: -20%;
}

.registryOption {
    font-family: 'Raleway';

    width: 80%;
    margin: 0 auto;

    border: 10px solid #c62c58;
    background-color: white;
    box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, .5);
}

.registryContainer {
    position: relative;
}

.registryOption img {
    display: block;

    width: 100%;
    height: auto;
    padding: 30px;
}

.registryOptionHeader {
    padding-top: 10px;

    background-color: #c62c58;
}

.registryOptionContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 35%;

    transition: .5s ease;

    opacity: 0;
    background-color: #000;
}

.registryOptionText {
    font-family: 'Raleway';

    vertical-align: middle;

    color: white;
}

.registryOption:hover .registryOptionContent {
    visibility: visible;

    opacity: .80;
}

#seventh-body {
    margin: 0;

    background-color: #f2f4f3;
}

.engagementPhoto {
    max-height: 300px;
    margin: 10px;
    padding: 0;

    cursor: pointer;

    border: 0;
}

#scrollTopBtn {
    position: fixed;
    z-index: 99;
    right: 30px;
    bottom: 20px;

    display: none;

    padding: 15px;

    cursor: pointer;

    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #555;
}

#scrollTopBtn:hover {
    background-color: #555;
}

.button {
    position: relative;
    z-index: 1;

    display: block;

    min-width: 150px;
    max-width: 250px;
    margin: 0 auto;
    padding: 1em 2em;

    vertical-align: middle;

    color: inherit;
    border: none;
    background: none;

    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.button:focus {
    outline: none;
}

.button>span {
    vertical-align: middle;
}

.button.button--aylen {
    font-size: 1.2em;
    font-weight: bold;

    overflow: hidden;

    -webkit-transition: color .3s;
    transition: color .3s;

    color: #f26d7d;
    background: #fff;
}

.button--aylen.button--inverted {
    color: #fff;
    background: none;
}

.button--aylen::before,
.button--aylen::after {
    position: absolute;
    z-index: -1;
    bottom: 100%;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transition-timing-function: cubic-bezier(.75, 0, .125, 1);
    transition-timing-function: cubic-bezier(.75, 0, .125, 1);
}

.button--aylen::before {
    background: #fab8c0;
}

.button--aylen::after {
    background: #f26d7d;
}

.button--aylen:hover {
    color: #fff;
}

.button--aylen:hover::before,
.button--aylen:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.button--aylen:hover::after {
    -webkit-transition-delay: .175s;
    transition-delay: .175s;
}


@media only screen and (max-width: 992px) {
    .registryRow {
        height: auto;
        padding: 0;

        background-color: transparent;
    }
    .registryOption {
        width: 65%;
        margin-top: 0 !important;
        margin-bottom: 7.5%;
        margin-left: 17.5% !important;
    }

    .carousel-header {
        position: relative;

        width: 100%;
        margin: 0 auto;
        padding: 20px;

        text-align: center;

        color: #fff;
        background-color: rgba(54, 47, 45, .8);
    }
}

@media only screen and (max-width: 500px) {
    .registryOption {
        width: 85%;
        margin-top: 0 !important;
        margin-bottom: 7.5%;
        margin-left: 7.5% !important;
    }

    .groomsmen-temp {
        width: 100%;
        height: auto;
        padding-top: 0;

        background-image: none;
    }

    .bridesmaids-temp {
        width: 100%;
        height: auto;
        padding-top: 0;

        background-image: none;
    }

    .wedding-image-holder {
        width: 220px;
        height: 220px;
        /* Display & Box Model */
        margin: 0 auto;
    }

    .wedding-party-description {
        min-height: 160px;
        margin: 0 7px 0 7px;
    }
}

.featurette-divider {
    border-color: #cdcdcd;
}

#imageModalContainer {
    border-radius: 10px;
}

#imageModal {
    border-radius: 10px;
}

@media only screen and (min-width: 768px) {
    .caption h1 {
        font-size: 3em;
    }

    .caption h2 {
        font-size: 1.5em;
    }

    .our-story-heading-text {
        font-size: 3em;
    }

    #rsvp-button {
        font-size: 3em;
    }
}

@media only screen and (min-width: 992px) {
    .caption h1 {
        font-size: 4em;
    }

    .caption h2 {
        font-size: 2.5em;
    }

    .our-story-heading-text {
        font-size: 4em;
    }

    #rsvp-button {
        font-size: 4em;
    }
}

@media only screen and (min-width: 1200px) {
    .caption h1 {
        font-size: 6em;
    }

    .caption h2 {
        font-size: 4em;
    }

    .our-story-heading-text {
        font-size: 6em;
    }

    .modalWidth {
        width: auto !important;
        max-width: 60% !important;
    }
}