/* Custom Font Face for Website */
@font-face {
  font-family: 'BaseFont';
  src: url('../fonts/base.ttf'); 
}


html,
body {
    height: 100%;
    font-size: 1.1em;
    font-family: 'BaseFont', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(125, 150, 100, 0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(125, 150, 100, 0.4);
}

/*
 * Banner styling
 */

#first-body {
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    height: 100%;
}

.name-heading {
    transition: 0.25s;
}

.name-heading:hover {
    color: #f4efe9;
}

#sam {
    animation: fadeInRight 0.75s ease-in;
}

#sarah {
    animation: fadeInLeft 0.75s ease-in;   
}

.caption {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: 'BaseFont', sans-serif;
}

.caption-title {
    background-color: rgba(47, 79, 79, 1);
    font-size: 48px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.caption h1 {
    font-size: 3em;
    text-shadow: 7px 7px 3px rgba(0, 0, 0, 0.65);
}


.caption h2 {
    font-size: 1.5em;
    text-shadow: 7px 7px 3px rgba(0, 0, 0, 0.65);
}

/* Small devices (tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .caption h1 {
        font-size: 3em;
    }

    .caption h2 {
        font-size: 1.5em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .caption h1 {
        font-size: 4em;
    }

    .caption h2 {
        font-size: 2.5em;
    }
}

/* Large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .caption h1 {
        font-size: 6em;
    }

    .caption h2 {
        font-size: 4em;
    }
}

/* Navbar Overrides */

#rsvp-button {
    font-size: 4em;
    margin: 0 auto;
    width: auto;
    color: #f26d7d;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
    transition: 0.4s ease-in;
    margin: 30px;
    background-color: transparent;
}

#rsvp-button:hover {
    text-shadow: 23px 2px 2px rgba(0, 0, 0, 0);
    outline: none;
}

#rsvp-button:focus,
#rsvp-button:active {
    outline: none;
}

#our-story-btn {
    margin-top: 40%;
}

.our-story-btn-svg {
    z-index: 1001;
    transition: 0.5s;
    transform: rotate(0deg);
}

#second-body {
    text-align: center;
    background-color: #fff;
    border-bottom: 4px solid #ededed;
    margin: 0px;
    padding: 0px;
    z-index: 999;
}

#third-body {
    background-color: #f4efe9;
    margin: 0px;
    border-bottom: 4px solid #ecd4b6;
}

#fourth-body {
    background-color: #f2f4f3;
    border-bottom: 4px solid #d9dada;
}

#details-section h2 {
    animation: fadeInUp 1.5s;
}

#details-section h1 {
    animation: fadeInDown 0.75s;
}

p {
    font-family: 'Raleway';
    font-weight: 500;
}

/* Carousel Overrides */

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.carousel-indicators .active {
    background-color: #ed145b;
}

.carousel-indicators {
    bottom: 0px !important;
}

.rotate-anim {
    transform: rotate(180deg);
}